@charset "UTF-8";

body {
    background-color: rgb(80, 78, 78);
}

h1 {
    text-align: center; color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

iframe {
    margin: auto;
 }

