@charset "UTF-8";

body {
    background-color: rgb(207, 156, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1 {
    color: greenyellow;
}
h2 {
    color: aqua;
}
p {
    text-align: center;
}