@charset "UTF-8";

div {
    display: inline-block;
    background-color: rgb(160, 160, 212);
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid green;
    border-radius: 2px;
}

div:hover {
    background-color: aqua;
}