@charset "UTF-8";

body {
    font: normal normal 1.15em "Trebuchet MS", sans-serif;
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    color: white;
    background-color: black;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
}

div:hover {
    color: cyan;
}